@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
:root {
  --dark-cyan: hsl(185, 75%, 39%);
  --dark-blue: hsl(229, 23%, 23%);
  --grayish-blue: hsl(227, 10%, 46%);
  --dark-gray: hsl(0, 0%, 59%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  font-size: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Kumbh Sans", sans-serif;
}

img, picture, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2 {
  overflow-wrap: break-word;
}

h1, h2 {
  font-weight: 700;
  color: var(--dark-blue);
}

p {
  font-weight: 400;
  color: var(--grayish-blue);
}

hr {
  margin-block-start: -1.5em;
  margin-block-end: 1.2em;
  background-color: var(--dark-gray);
  opacity: 0.1;
}

body {
  background-color: var(--dark-cyan);
  background-image: url(/images/bg-pattern-top.svg), url(/images/bg-pattern-bottom.svg);
  background-size: cover;
  background-position: top -450px right 160px, bottom -330px left 155px;
  background-repeat: no-repeat;
  background-blend-mode: hard-light;
}
@media (min-width: 767px) {
  body {
    background-position: top -320px right 330px, bottom -400px left 330px;
  }
}
@media (min-width: 992px) {
  body {
    background-position: top -430px right 400px, bottom -500px left 470px;
  }
}
@media (min-width: 1200px) {
  body {
    background-position: top -800px right 740px, bottom -1030px left 570px;
  }
}

.card {
  max-width: 350px;
  width: 87%;
  background-color: #f0f0f0;
  margin-block: 11em;
  margin-inline: auto;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 50px 100px -20px rgba(50, 50, 93, 0.25), 0 4px 16px -5px rgba(3, 33, 115, 0.1);
}
.card__background {
  max-width: 100%;
  border-radius: 14px;
  object-fit: contain;
}
.card__icon {
  border-radius: 100%;
  transform: translate(100%, -40%);
  border: 5px solid #f0f0f0;
  margin-block-end: 1.2em;
  z-index: 3;
  cursor: pointer;
  text-align: center;
}
@media (min-width: 767px) {
  .card__icon {
    transform: translate(110%, -50%);
    margin-block-end: 0.36em;
  }
}
@media (min-width: 992px) {
  .card__icon {
    opacity: 0.8;
  }
}
.card__icon:hover {
  border-color: var(--dark-cyan);
  opacity: 1;
}
.card__info {
  text-align: center;
  margin-top: -2.8em;
  font-weight: 700;
}
.card__info--header {
  font-size: 1.125rem;
  margin-inline-start: -0.8em;
  margin-block-end: 0.1em;
}
.card__info--age {
  font-weight: initial;
}
.card__info--place {
  margin-bottom: 3em;
}
.card__number {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5em;
}
.card__column {
  flex-direction: column;
}
.card__column--header {
  font-size: 1.15rem;
  text-align: center;
  cursor: pointer;
}
.card__column--header:hover {
  color: hsl(185deg, 62%, 19%);
  transition: transform 250ms linear;
}
.card__column--text {
  font-size: 12px;
  padding-block-end: 1.8em;
  transition: transform 250ms linear;
  cursor: pointer;
}
.card__column--text:hover {
  color: hsl(185deg, 75%, 39%);
}

footer {
  text-align: center;
}

.attribution {
  font-size: 1rem;
  text-align: center;
  color: #000D6B;
}

.attribution a {
  display: block;
  color: #1E3163;
  text-decoration: none;
  font-weight: 700;
}
.attribution a:hover {
  text-decoration: underline;
}
@media (min-width: 992px) {
  .attribution a {
    display: inline-block;
  }
}/*# sourceMappingURL=styles.css.map */